@font-face {
  font-family: cuteFont;
  src: url("/font/Somelist/Somelist.ttf");
}

@font-face {
  font-family: forText;
  src: url("/font/Roadside/RoadsideSansDemo-Regular.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.experience {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;

  .experience-canvas {
    width: 100%;
    height: 100%;
  }
}

.model-overlay {
  scale: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model {
  display: none;
  position: relative;
  padding: 1rem;
  background-color: #ebd7ee;
  border: 2px solid #6f5f9c;
  width: 800px;
  height: 400px;
  border-radius: 1rem;
  color: #6f5f9c;
  font-weight: 100;
  font-family: forText;
}

@media (max-width: 768px) {
  .model {
    width: 700px;
  }
}

@media (max-width: 425px) {
  .model {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .model {
    width: 275px;
  }
}
.exit {
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  width: 40px;
  height: 40px;
  background-color: #ebd7ee;
  border: 2px solid #6f5f9c;
  transition: all ease 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f5f9c;
  font-size: 1.5rem;
  border-radius: 0.7rem;
}

.exit:hover {
  transform: rotateZ(-45deg);
}

.loading {
  position: absolute;
  z-index: 99999;
  left: -4vw;
  bottom: -4vh;
  width: 108vw;
  height: 108vh;
  background-color: #2b0f4f;
  color: white;
  border: 10px solid #6f5f9c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cuteFont;
  border-radius: 2rem;
  padding: 1rem;
}

.loadingState {
  font-size: 4rem;
}

.themeAndMusicbtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  right: 1.7rem;
  top: 1.7rem;
  z-index: 999;
}

.themeAndMusic-btn {
  position: relative;
  cursor: pointer;
  color: #6f5f9c;
  font-size: 1.7rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #ebd7ee;
  border: 4px solid #6f5f9c;
  padding: 0.7rem;
}

.enter-btn {
  display: none;
  font-size: 4rem;
  background-color: #411d48;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  border: 5px solid #2b0f4f;
  box-shadow: 8px 8px 1px black;
  cursor: pointer;
  transition: all ease 0.3s;
}

.enter-btn:hover {
  scale: 1.2;
}

.welcome {
  display: none;
  padding: 0.7rem;
  opacity: 0;
}

.welcome-text {
  padding: 1rem;
  border: 5px solid #6f5f9c;
  border-radius: 1rem;
  font-size: 4rem;
  text-align: center;
  color: #6f5f9c;
}
